site_name: EncryptoCLI
site_description: Secure CLI for encryption, decryption, hashing, and steganography with AES and PGP support
site_author: Arpan Pandey
site_url: https://arpan-206.github.io/EncryptoCLI/
repo_url: https://github.com/Arpan-206/EncryptoCLI
repo_name: Arpan-206/EncryptoCLI
edit_uri: edit/master/docs/

theme:
  name: material
  logo: EncryptoCLI-Logo.svg
  favicon: EncryptoCLI-Logo.png
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.footer
    - toc.follow
    - toc.integrate
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - search.suggest
    - search.highlight
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: true
            show_root_heading: true
            show_root_toc_entry: false
            heading_level: 2
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            members_order: source
            docstring_style: google
            show_if_no_docstring: false
            filters:
              - "!^_"  # Exclude private members

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - User Guide:
      - Overview: user-guide/index.md
      - Hashing: user-guide/hashing.md
      - AES Encryption: user-guide/encryption.md
      - AES Decryption: user-guide/decryption.md
      - PGP Operations: user-guide/pgp.md
      - PGP Key Management: user-guide/pgp-key-management.md
      - Steganography: user-guide/steganography.md
  - API Reference:
      - Overview: api/index.md
      - Services: api/services.md
      - Encryption:
          - Overview: api/encryption/index.md
          - AES Cipher: api/encryption/aes_cipher.md
          - PGP Cipher: api/encryption/pgp.md
      - Steganography:
          - Overview: api/steganography/index.md
          - LSB Handler: api/steganography/lsb_handler.md
          - DCT Handler: api/steganography/dct_handler.md
      - Interfaces:
          - Overview: api/interfaces/index.md
          - CLI Handler: api/interfaces/cli_handler.md
          - TUI Handler: api/interfaces/tui_handler.md
      - Utilities:
          - Overview: api/utilities/index.md
          - Exceptions: api/utilities/exceptions.md
          - File Handling: api/utilities/file_handling.md
          - Key Generation: api/utilities/key_gen.md
  - License: LICENSE.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - attr_list
  - md_in_html
  - tables
  - footnotes
  - def_list
  - toc:
      permalink: true
      toc_depth: 3

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Arpan-206/EncryptoCLI
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/EncryptoCLI/
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css
